stop/1.4.0/imop-consolidatie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
  targetNamespace="https://standaarden.overheid.nl/stop/imop/consolidatie/"
  version="1.4.0" xmlns:cons="https://standaarden.overheid.nl/stop/imop/consolidatie/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:annotation>
    <xs:documentation>"consolidatie-schema" van STOP. </xs:documentation>
    <xs:documentation>Dit schema definieert de elementen voor de STOP-modules voor consolidaties</xs:documentation>
    <xs:documentation>versie 1.4.0</xs:documentation>
  </xs:annotation>

  <!--
  ================================================ 
     Geldende regelgeving                               
  ================================================ 
  -->

  <xs:element name="ConsolidatieIdentificatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cons:FRBRWork"/>
        <xs:element ref="cons:soortWork"/>
        <xs:element ref="cons:isConsolidatieVan"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="cons:isTijdelijkDeelVan"/>
      </xs:sequence>
      <xs:attributeGroup ref="cons:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="isConsolidatieVan">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cons:WorkIdentificatie"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="isTijdelijkDeelVan">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cons:WorkIdentificatie"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="WorkIdentificatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cons:FRBRWork"/>
        <xs:element ref="cons:soortWork"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="FRBRExpression" type="cons:dtSTOPidentificatie"/>
  <xs:element name="FRBRWork" type="cons:dtSTOPidentificatie"/>
  <xs:element name="soortWork" type="cons:dtWaardeRef"/>

  <!--
  ================================================ 
     Toestanden
  ================================================ 
  -->

  <xs:element name="Toestanden">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="cons:mgContext"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="cons:materieelUitgewerktOp"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="cons:IntrekkingRegeling"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:Toestand"/>
      </xs:sequence>
      <xs:attributeGroup ref="cons:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="IntrekkingRegeling">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cons:ingetrokkenPer"/>
        <xs:element ref="cons:doel"/>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:verwerkt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Toestand">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:FRBRExpression"/>
        <xs:element ref="cons:doelen"/>
        <xs:element ref="cons:juridischWerkendOp"/>
        <xs:element ref="cons:geldigOp"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:instrumentVersie"/>
        <xs:element ref="cons:verwerkingen"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="doelen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:doel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="juridischWerkendOp">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="cons:Periode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="geldigOp">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="cons:Periode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Periode">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:vanaf"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="cons:tot"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="verwerkingen">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:verwerkt"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:nogTeVerwerken"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:nietVerwerkt"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:nogTeVerwerken"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:nietVerwerkt"/>
        </xs:sequence>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="vanaf" type="xs:date"/>
  <xs:element name="tot" type="xs:date"/>

  <xs:element name="verwerkt" type="cons:dtSTOPidentificatie"/>
  <xs:element name="nietVerwerkt" type="cons:dtSTOPidentificatie"/>
  <xs:element name="nogTeVerwerken" type="cons:dtSTOPidentificatie"/>
  <xs:element name="instrumentVersie" type="cons:dtSTOPidentificatie"/>

  <!--
  ================================================ 
     Proefversie
  ================================================ 
  -->

  <xs:element name="Proefversies">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="cons:mgContext"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="cons:materieelUitgewerktOp"/>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:Proefversie"/>
      </xs:sequence>
      <xs:attributeGroup ref="cons:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Proefversie">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:doel"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:instrumentVersie"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!--
  ================================================ 
     Juridische verantwoording                             
  ================================================ 
  -->
  <xs:element name="JuridischeVerantwoording">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="cons:mgContext"/>
        <xs:choice>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:VerantwoordingInstrument"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:VerantwoordingElement"/>
          </xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:VerantwoordingElement"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="cons:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="VerantwoordingInstrument">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:heeftVerantwoording"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="VerantwoordingElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:wId"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:heeftVerantwoording"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="heeftVerantwoording">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:Verantwoording"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wId" type="xs:token"/>

  <xs:element name="Verantwoording">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:doel"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:soortWijziging"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="cons:juridischWerkendVanaf"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="cons:geldigVanaf"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:gepubliceerdIn"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:heeftTijdelijkDeel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="soortWijziging" type="cons:wlSoortWijziging"/>
  <xs:element name="juridischWerkendVanaf" type="xs:date"/>
  <xs:element name="juridischWerkendTot" type="xs:date"/>
  <xs:element name="geldigVanaf" type="xs:date"/>

  <xs:element name="heeftTijdelijkDeel" type="cons:dtSTOPidentificatie"/>

  <xs:element name="gepubliceerdIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:JuridischeBronpublicatie"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="JuridischeBronpublicatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:url"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="cons:publicatieIdentifier"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:publicatienaam"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:soortGepubliceerdWork"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="cons:ondertekendOp"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:gepubliceerdOp"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="cons:bladwijzers"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ondertekendOp" type="xs:date"/>
  <xs:element name="gepubliceerdOp" type="xs:date"/>
  <xs:element name="publicatieIdentifier" type="xs:token"/>
  <xs:element name="publicatienaam" type="xs:token"/>
  <xs:element name="soortGepubliceerdWork" type="cons:dtWaardeRef"/>

  <xs:element name="bladwijzers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:Bladwijzer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Bladwijzer">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="3" minOccurs="1" ref="cons:relevantVoor"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:url"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="relevantVoor" type="cons:wlRelevantVoor"/>

  <!--
  ================================================ 
     GerechtelijkeProcedureStatus                               
  ================================================ 
  -->
  <xs:element name="GerechtelijkeProcedureStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="cons:mgContext"/>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:BesluitStatus"/>
      </xs:sequence>
      <xs:attributeGroup ref="cons:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="BesluitStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:FRBRWork"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="cons:onherroepelijkVanaf"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:geschorst"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="cons:gepubliceerdIn"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:wId"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:meerInformatie"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="onherroepelijkVanaf" type="xs:date"/>
  <xs:element name="geschorst" type="xs:boolean"/>
  <xs:element name="meerInformatie" type="xs:anyURI"/>

  <!--
  ================================================ 
     generiek                               
  ================================================ 
  -->
  <!-- generieke elementen -->
  <xs:element name="doel" type="cons:dtDoelidentificatie"/>
  <xs:element name="materieelUitgewerktOp" type="xs:date"/>
  <xs:element name="ingetrokkenPer" type="xs:date"/>
  <xs:element name="bekendOp" type="xs:date"/>
  <xs:element name="ontvangenOp" type="xs:date"/>

  <xs:element name="url" type="xs:anyURI"/>

  <!-- mg -->
  <xs:group name="mgContext">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" ref="cons:bekendOp"/>
      <xs:element maxOccurs="1" minOccurs="0" ref="cons:ontvangenOp"/>
    </xs:sequence>
  </xs:group>

  <!-- ag -->
  <xs:attributeGroup name="agSchemaVersie">
    <xs:attribute name="schemaversie" type="cons:dtSchemaVersie" use="optional"/>
  </xs:attributeGroup>

  <!-- datatypes -->
  <xs:simpleType name="dtSchemaVersie">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>

  <xs:simpleType name="dtDoelidentificatie">
    <xs:restriction base="cons:dtSTOPidentificatie"/>
  </xs:simpleType>

  <xs:simpleType name="dtSTOPidentificatie">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>

  <xs:simpleType name="dtWaardeRef">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>

  <xs:simpleType name="dtDateTimeUTC">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value=".{19}Z"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- waardelijsten -->
  <xs:simpleType name="wlRelevantVoor">
    <xs:restriction base="xs:token">
      <xs:enumeration value="inhoud"/>
      <xs:enumeration value="juridischeWerking"/>
      <xs:enumeration value="geldigheid"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlSoortWijziging">
    <xs:restriction base="xs:token">
      <xs:enumeration value="instelling"/>
      <xs:enumeration value="wijziging"/>
      <xs:enumeration value="beeindiging"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
