stop/1.4.0/imop-geo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
	targetNamespace="https://standaarden.overheid.nl/stop/imop/geo/" version="1.4.0"
	xmlns:basisgeo="http://www.geostandaarden.nl/basisgeometrie/1.0"
	xmlns:geo="https://standaarden.overheid.nl/stop/imop/geo/"
	xmlns:gio="https://standaarden.overheid.nl/stop/imop/gio/"
	xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:annotation>
		<xs:documentation source="@@@DOCUMENTATIE_URL@@@go/goto.html?to=stop&amp;id=xsd:geo">"GEO-schema" van STOP. </xs:documentation>
		<xs:documentation>
			Dit schema definieert de "geo"-elementen voor de
			STOP-modules
		</xs:documentation>
		<xs:documentation>versie 1.4.0</xs:documentation>
	</xs:annotation>

	<xs:import namespace="http://www.geostandaarden.nl/basisgeometrie/1.0"
		schemaLocation="https://register.geostandaarden.nl/gmlapplicatieschema/basisgeometrie/1.0.0/basisgeometrie.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2"
		schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gmlsf/2.0"
		schemaLocation="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd"/>
	<xs:import namespace="https://standaarden.overheid.nl/stop/imop/gio/"
		schemaLocation="https://raw.githubusercontent.com/RicharddeGraaf1/schemaTestsRichard/main/stop/1.4.0/imop-gio.xsd"/>

	<xs:annotation>
		<xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
			<gmlsf:ComplianceLevel>2</gmlsf:ComplianceLevel>
		</xs:appinfo>
	</xs:annotation>

	<xs:element name="GeoInformatieObjectVaststelling" type="geo:GeoInformatieObjectVaststellingType"/>
	<xs:complexType name="GeoInformatieObjectVaststellingType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element minOccurs="1" name="context">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="1" minOccurs="1" ref="gio:GeografischeContext"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element minOccurs="1" name="vastgesteldeVersie">
						<xs:complexType>
							<xs:choice maxOccurs="1" minOccurs="1">
								<xs:element maxOccurs="1" minOccurs="1" ref="geo:GeoInformatieObjectVersie"/>
								<xs:element maxOccurs="1" minOccurs="1" ref="geo:GeoInformatieObjectMutatie"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="wasID" type="geo:dtSTOPidentificatie"/>
				</xs:sequence>
				<xs:attribute name="schemaversie" type="xs:token" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="GeoInformatieObjectVersie" type="geo:GeoInformatieObjectVersieType"/>
	<xs:complexType name="GeoInformatieObjectVersieType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="FRBRWork" type="geo:dtSTOPidentificatie"/>
					<xs:element maxOccurs="1" minOccurs="1" name="FRBRExpression" type="geo:dtSTOPidentificatie"/>
					<xs:element maxOccurs="1" minOccurs="0" name="eenheidlabel" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="eenheidID" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="normlabel" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="normID" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="groepen">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="0" name="Groep" type="geo:GroepType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element minOccurs="1" name="locaties">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="1" ref="geo:Locatie"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="schemaversie" type="xs:token" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="GeoInformatieObjectMutatie" type="geo:GeoInformatieObjectMutatieType"/>
	<xs:complexType name="GeoInformatieObjectMutatieType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="FRBRWork" type="geo:dtSTOPidentificatie"/>
					<xs:element maxOccurs="1" minOccurs="1" name="FRBRExpression" type="geo:dtSTOPidentificatie"/>
					<xs:element maxOccurs="1" minOccurs="0" name="eenheidlabel" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="eenheidID" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="normlabel" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="normID" type="xs:string"/>
					<xs:element minOccurs="0" name="groepen">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="0" name="Groep" type="geo:GroepMutatieType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element minOccurs="1" name="locatieMutaties">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="1" ref="geo:LocatieMutatie"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element minOccurs="1" name="wijzigmarkeringen">
						<xs:complexType>
							<xs:sequence>
								<xs:choice maxOccurs="unbounded" minOccurs="1">
									<xs:element maxOccurs="1" minOccurs="1" ref="geo:Punt"/>
									<xs:element maxOccurs="1" minOccurs="1" ref="geo:Lijn"/>
									<xs:element maxOccurs="1" minOccurs="1" ref="geo:Vlak"/>
								</xs:choice>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="GroepType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="groepID" type="geo:dtGroepID"/>
			<xs:element maxOccurs="1" minOccurs="1" name="label" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="GroepMutatieType">
		<xs:complexContent>
			<xs:extension base="geo:GroepType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="wijzigactie" type="geo:wlWijzigactieGroepen"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="Locatie" type="geo:LocatieType"/>
	<xs:complexType name="LocatieType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="wId" type="geo:dtUUID"/>
					<xs:element maxOccurs="1" minOccurs="0" name="naam" type="xs:string"/>
					<xs:element minOccurs="1" name="geometrie">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="1" minOccurs="1" ref="basisgeo:Geometrie"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="groepID" type="geo:dtGroepID"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kwantitatieveNormwaarde" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kwalitatieveNormwaarde" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="LocatieMutatie" type="geo:LocatieMutatieType"/>
	<xs:complexType name="LocatieMutatieType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="wId" type="geo:dtUUID"/>
					<xs:element maxOccurs="1" minOccurs="0" name="naam" type="xs:string"/>
					<xs:element minOccurs="1" name="geometrie">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="1" minOccurs="1" ref="basisgeo:Geometrie"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="groepID" type="geo:dtGroepID"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kwantitatieveNormwaarde" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kwalitatieveNormwaarde" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="1" name="wijzigactie" type="geo:wlWijzigactieLocaties"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="Punt" type="geo:PuntType"/>
	<xs:complexType name="PuntType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="geometrie">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="1" minOccurs="1" ref="basisgeo:Geometrie"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="Lijn" type="geo:LijnType"/>
	<xs:complexType name="LijnType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="geometrie">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="1" minOccurs="1" ref="basisgeo:Geometrie"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="Vlak" type="geo:VlakType"/>
	<xs:complexType name="VlakType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="geometrie">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="1" minOccurs="1" ref="basisgeo:Geometrie"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="Gebiedsmarkering" type="geo:GebiedsmarkeringType"/>
	<xs:complexType name="GebiedsmarkeringType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" ref="geo:Ambtsgebied"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" ref="geo:Gebied"/>
				</xs:sequence>
				<xs:attribute name="schemaversie" type="xs:token" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="Effectgebied" type="geo:EffectgebiedType"/>
	<xs:complexType name="EffectgebiedType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="1" ref="geo:Gebied"/>
				</xs:sequence>
				<xs:attribute name="schemaversie" type="xs:token" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="Ambtsgebied" type="geo:AmbtsgebiedType"/>
	<xs:complexType name="AmbtsgebiedType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="bevoegdGezag" type="geo:dtWaardeRef"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="Gebied" type="geo:GebiedType"/>
	<xs:complexType name="GebiedType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="label" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="1" name="geometrie">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="1" minOccurs="1" ref="basisgeo:Geometrie"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- WAARDELIJSTEN -->
	<xs:simpleType name="wlWijzigactieGroepen">
		<xs:restriction base="xs:string">
			<xs:enumeration value="verwijder"/>
			<xs:enumeration value="voegtoe"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="wlWijzigactieLocaties">
		<xs:restriction base="xs:string">
			<xs:enumeration value="verwijder"/>
			<xs:enumeration value="voegtoe"/>
			<xs:enumeration value="reviseer"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- EINDE WAARDELIJSTEN -->

	<!-- DATATYPES -->
	<xs:simpleType name="dtGroepID">
		<xs:restriction base="xs:token">
			<xs:pattern value="[A-Za-z0-9][A-Za-z0-9_-]*"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="dtUUID">
		<xs:restriction base="xs:token">
			<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
		</xs:restriction>		
	</xs:simpleType>

	<xs:simpleType name="dtWaardeRef">
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>

	<xs:simpleType name="dtSTOPidentificatie">
		<xs:restriction base="xs:anyURI">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- EINDE DATATYPES -->

</xs:schema>
