1.4.1/lvbb/lvbb-transport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:lvbbt="http://www.overheid.nl/2017/lvbb"
           xmlns:stop="http://www.overheid.nl/2017/stop"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.overheid.nl/2017/lvbb"
           version="1.3.0-ic">
   <xs:annotation>
      <xs:documentation>LVBB-Transport-schema</xs:documentation>
      <xs:documentation>versie 1.3.0-ic</xs:documentation>
   </xs:annotation>
   <xs:import namespace="http://www.overheid.nl/2017/stop"
      schemaLocation="https://raw.githubusercontent.com/RicharddeGraaf1/schemaTestsRichard/refs/heads/main/1.4.1/lvbb/stop_toevoeging.xsd"/>
   <!--===========================================================================
  
  Schema voor de LVBB berichten en bestanden die via het Digikoppeling
  aanleverkoppelvlak worden uitgewisseld.
  
  ============================================================================-->
   <!--
  Basistypen voor het Digikoppeling berichtenverkeer : ebMS
  -->
   <xs:element name="validatieVerzoek" type="lvbbt:LeveringVerzoekType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:validatieVerzoek"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="publicatieVerzoek" type="lvbbt:LeveringVerzoekType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:publicatieVerzoek"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="breekPublicatieAfVerzoek" type="lvbbt:LeveringVerzoekType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:breekPublicatieAfVerzoek"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="validatieRevisieVerzoek" type="lvbbt:LeveringVerzoekType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:validatieRevisieVerzoek"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="revisieVerzoek" type="lvbbt:LeveringVerzoekType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:revisieVerzoek"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="validatieProcedureverloopmutatieVerzoek"
               type="lvbbt:LeveringVerzoekType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:validatieProcedureverloopmutatieVerzoek"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="procedureverloopmutatieVerzoek" type="lvbbt:LeveringVerzoekType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:procedureverloopmutatieVerzoek"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="validatieDoorleverenRegelingVersieVerzoek"
      type="lvbbt:LeveringVerzoekType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:validatieDoorleverenRegelingVersieVerzoek"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="doorleverenRegelingVersieVerzoek" type="lvbbt:LeveringVerzoekType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:doorleverenRegelingVersieVerzoek"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="valideerDoorleverenRegelingVersie"
               type="lvbbt:leveringRegelingVersieType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:valideerDoorleverenRegelingVersie"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="doorleverenRegelingVersie"
               type="lvbbt:leveringRegelingVersieType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:doorleverenRegelingVersie"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="validatieRegistratieVerzoek" type="lvbbt:LeveringVerzoekType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:validatieRegistratieVerzoek"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="registratieVerzoek" type="lvbbt:LeveringVerzoekType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:registratieVerzoek"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="LeveringVerzoekType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:LeveringVerzoekType"/>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1"
                     minOccurs="1"
                     name="idLevering"
                     type="lvbbt:dtIdLevering">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:idLevering:LeveringVerzoekType"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="softwareVersie" type="lvbbt:SoftwareVersieType">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:softwareVersie:LeveringVerzoekType"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="dtIdLevering">
      <xs:restriction base="xs:string">
         <xs:maxLength value="80"/>
         <xs:pattern value="[0-9A-z][0-9A-z_-]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="SoftwareVersieType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:SoftwareVersieType"/>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="leverancier" type="xs:string">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:leverancier:SoftwareVersieType"/>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="product" type="xs:string">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:product:SoftwareVersieType"/>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="versie" type="xs:string">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:versie:SoftwareVersieType"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <!--
  Opdrachtbestand: manifest.xml
  -->
   <xs:element name="manifest">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:manifest"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded"
                        minOccurs="2"
                        name="bestand"
                        type="lvbbt:BestandType">
               <xs:annotation>
                  <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:manifest:bestand"/>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="schemaversie" type="xs:token" use="optional"/>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="BestandType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:BestandType"/>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bestandsnaam" type="lvbbt:dtBestandsnaam">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:bestandsnaam:BestandType"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="contentType" type="xs:string">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:contentType:BestandType"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="dtBestandsnaam">
      <xs:restriction base="xs:token">
         <xs:pattern value="[0-9A-Za-z\._-]+"/>
      </xs:restriction>
   </xs:simpleType>
   <!--
  Opdrachtbestand: opdracht.xml
  -->
   <xs:complexType abstract="true" name="OpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:OpdrachtType"/>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1"
                     minOccurs="1"
                     name="idLevering"
                     type="lvbbt:dtIdLevering">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:idLevering:OpdrachtType"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="idBevoegdGezag" type="lvbbt:dtOIN">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:idBevoegdGezag:OpdrachtType"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="idAanleveraar" type="lvbbt:dtOIN">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:idAanleveraar:OpdrachtType"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="softwareVersie" type="lvbbt:SoftwareVersieType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:softwareVersie:LeveringVerzoekType"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="schemaversie" type="xs:token" use="optional"/>
   </xs:complexType>
   <xs:simpleType name="dtOIN">
      <xs:restriction base="xs:token">
         <xs:maxLength value="20"/>
         <xs:minLength value="20"/>
         <xs:pattern value="[0-9]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="dtDatumISO">
      <xs:restriction base="xs:date">
         <xs:pattern value="[0-9]{4}-[01][0-9]-[0-9]{2}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VerwerkingsrestrictieCode">
      <xs:annotation>
         <xs:documentation>Type verwerkingsrestrictie</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Bekendmaken">
            <xs:annotation>
               <xs:documentation>De opdracht moet alleen bekendgemaakt worden.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="validatieOpdracht" type="lvbbt:ValidatieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:validatieOpdracht"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ValidatieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ValidatieOpdrachtType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtType">
            <xs:sequence>
               <xs:element name="publicatie" type="lvbbt:dtBestandsnaam">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:publicatie:ValidatieOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="datumBekendmaking" type="lvbbt:dtDatumISO">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:datumBekendmaking:ValidatieOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1"
                           minOccurs="0"
                           name="verwerkingsrestrictie"
                           type="lvbbt:VerwerkingsrestrictieCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verwerkingsrestrictie:ValidatieOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="publicatieOpdracht" type="lvbbt:PublicatieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:publicatieOpdracht"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="PublicatieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:PublicatieOpdrachtType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtType">
            <xs:sequence>
               <xs:element name="publicatie" type="lvbbt:dtBestandsnaam">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:publicatie:PublicatieOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="datumBekendmaking" type="xs:date">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:datumBekendmaking:PublicatieOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1"
                           minOccurs="0"
                           name="verwerkingsrestrictie"
                           type="lvbbt:VerwerkingsrestrictieCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verwerkingsrestrictie:PublicatieOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="breekPublicatieAfOpdracht"
               type="lvbbt:BreekPublicatieAfOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:breekPublicatieAfOpdracht"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="BreekPublicatieAfOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:BreekPublicatieAfOpdrachtType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtType">
            <xs:sequence>
               <xs:element name="identificatie" type="xs:string">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:identificatie:BreekPublicatieAfOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="validatieRevisieOpdracht"
               type="lvbbt:ValidatieRevisieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:validatieRevisieOpdracht"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ValidatieRevisieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ValidatieRevisieOpdrachtType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtType">
            <xs:sequence>
               <xs:element name="revisie" type="lvbbt:dtBestandsnaam">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:revisie:ValidatieRevisieOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="revisieOpdracht" type="lvbbt:RevisieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:revisieOpdracht"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RevisieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:RevisieOpdrachtType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtType">
            <xs:sequence>
               <xs:element name="revisie" type="lvbbt:dtBestandsnaam">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:revisie:RevisieOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="validatieProcedureverloopmutatieOpdracht"
               type="lvbbt:ValidatieProcedureverloopmutatieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:validatieProcedureverloopmutatieOpdracht"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ValidatieProcedureverloopmutatieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ValidatieProcedureverloopmutatieOpdrachtType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtType">
            <xs:sequence>
               <xs:element name="procedureverloopmutatie" type="lvbbt:dtBestandsnaam">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:procedureverloopmutatie:ValidatieProcedureverloopmutatieOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="procedureverloopmutatieOpdracht"
               type="lvbbt:ProcedureverloopmutatieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:procedureverloopmutatieOpdracht"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProcedureverloopmutatieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ProcedureverloopmutatieOpdrachtType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtType">
            <xs:sequence>
               <xs:element name="procedureverloopmutatie" type="lvbbt:dtBestandsnaam">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:procedureverloopmutatie:ProcedureverloopmutatieOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="leveringRegelingVersieType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:leveringRegelingVersieType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtType">
            <xs:sequence>
               <xs:element maxOccurs="1"
                           minOccurs="1"
                           name="consolidatie"
                           type="lvbbt:dtBestandsnaam">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:consolidatie:leveringRegelingVersieType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="validatieRegistratieOpdracht"
               type="lvbbt:ValidatieRegistratieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:validatieRegistratieOpdracht"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ValidatieRegistratieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ValidatieRegistratieOpdrachtType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtType">
            <xs:sequence>
               <xs:element name="registratie" type="lvbbt:dtBestandsnaam">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:registratie:ValidatieRegistratieOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="verantwoording" type="lvbbt:dtBestandsnaam">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verantwoording:ValidatieRegistratieOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="registratieOpdracht" type="lvbbt:RegistratieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:registratieOpdracht"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RegistratieOpdrachtType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:RegistratieOpdrachtType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtType">
            <xs:sequence>
               <xs:element name="registratie" type="lvbbt:dtBestandsnaam">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:registratie:RegistratieOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="verantwoording" type="lvbbt:dtBestandsnaam">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verantwoording:RegistratieOpdrachtType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!--
  Antwoordberichten
  -->
   <xs:complexType abstract="true" name="VerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:VerzoekResultaatType"/>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="uitkomst" type="lvbbt:VerzoekUitkomstCode">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:uitkomst:VerzoekResultaatType"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="VerzoekUitkomstCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="succes">
            <xs:annotation>
               <xs:documentation>De LVBB heeft met succes het verzoek uitgevoerd.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="mislukt">
            <xs:annotation>
               <xs:documentation>De LVBB heeft het verzoek niet kunnen uitvoeren of de opdracht is niet valide.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="OpdrachtverslagType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:OpdrachtverslagType"/>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1"
                     minOccurs="1"
                     name="idLevering"
                     type="lvbbt:dtIdLevering">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:idLevering:OpdrachtverslagType"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="tijdstipVerslag" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:tijdstipVerslag:OpdrachtverslagType"/>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="1" name="meldingen">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:meldingen:OpdrachtverslagType"/>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="melding" type="stop:melding">
                     <xs:annotation>
                        <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:melding:OpdrachtverslagType"/>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <!--
  Antwoord voor validatieopdracht
  -->
   <xs:element name="validatieVerzoekResultaat"
               type="lvbbt:ValidatieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:validatieVerzoekResultaat"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ValidatieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ValidatieVerzoekResultaatType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:VerzoekResultaatType">
            <xs:sequence>
               <xs:element minOccurs="1" name="verslag" type="lvbbt:ValidatieVerslagType">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verslag:ValidatieVerzoekResultaatType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ValidatieVerslagType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ValidatieVerslagType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtverslagType">
            <xs:choice>
               <xs:element name="uitkomst" type="lvbbt:ValidatieUitkomstCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:uitkomst:ValidatieVerslagType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="voortgang" type="lvbbt:ValidatieVoortgangCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:voortgang:ValidatieVerslagType"/>
                  </xs:annotation>
               </xs:element>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ValidatieUitkomstCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="valide">
            <xs:annotation>
               <xs:documentation>Het besluit, de kennisgeving, de rectificatie of de mededeling voldoet aan alle eisen die de LVBB er op
            dit moment aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="niet-valide">
            <xs:annotation>
               <xs:documentation>Het besluit, de kennisgeving, de rectificatie of de mededeling voldoet niet aan de eisen die de LVBB er
            aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="behandeling-afgebroken">
            <xs:annotation>
               <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ValidatieVoortgangCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="validatie-voltooid">
            <xs:annotation>
               <xs:documentation>De validatie van het besluit, de kennisgeving, de rectificatie of de mededeling is voltooid.
          </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <!--
  Antwoord voor publicatieopdracht
  -->
   <xs:element name="publicatieVerzoekResultaat"
               type="lvbbt:PublicatieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:publicatieVerzoekResultaat"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="PublicatieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:PublicatieVerzoekResultaatType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:VerzoekResultaatType">
            <xs:sequence>
               <xs:element minOccurs="1" name="verslag" type="lvbbt:PublicatieVerslagType">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verslag:PublicatieVerzoekResultaatType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PublicatieVerslagType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:PublicatieVerslagType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtverslagType">
            <xs:sequence>
               <xs:choice>
                  <xs:element name="uitkomst" type="lvbbt:PublicatieUitkomstCode">
                     <xs:annotation>
                        <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:uitkomst:PublicatieVerslagType"/>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="voortgang" type="lvbbt:PublicatieVoortgangCode">
                     <xs:annotation>
                        <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:voortgang:PublicatieVerslagType"/>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
               <xs:element minOccurs="0" name="tijdstipPublicatie" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:tijdstipPublicatie:PublicatieVerslagType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PublicatieUitkomstCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="gepubliceerd">
            <xs:annotation>
               <xs:documentation>Het besluit, de kennisgeving, de rectificatie of de mededeling mededeling is gepubliceerd.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="niet-valide">
            <xs:annotation>
               <xs:documentation>Het besluit, de kennisgeving, de rectificatie of de mededeling voldoet niet aan de eisen die de LVBB er
            aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="behandeling-afgebroken">
            <xs:annotation>
               <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PublicatieVoortgangCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="validatie-voltooid">
            <xs:annotation>
               <xs:documentation>De validatie van het besluit, de kennisgeving, de rectificatie of de mededeling is voltooid.
          </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="registratie-voltooid">
            <xs:annotation>
               <xs:documentation>Het aangeleverde besluit, de kennisgeving, de rectificatie of de mededeling en afgeleide producten zijn
            geregistreerd in de LVBB en staan klaar om gepubliceerd te worden.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <!--
  Antwoord voor breekPublicatieAfVerzoek 
  -->
   <xs:element name="breekPublicatieAfVerzoekResultaat"
               type="lvbbt:BreekPublicatieAfVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:breekPublicatieAfVerzoekResultaat"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="BreekPublicatieAfVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:BreekPublicatieAfVerzoekResultaatType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:VerzoekResultaatType">
            <xs:sequence>
               <xs:element minOccurs="0"
                           name="verslag"
                           type="lvbbt:BreekPublicatieAfVerslagType">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verslag:BreekPublicatieAfVerzoekResultaatType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BreekPublicatieAfVerslagType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:BreekPublicatieAfVerslagType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtverslagType">
            <xs:sequence>
               <xs:element name="uitkomst" type="lvbbt:BreekPublicatieAfUitkomstCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:uitkomst:BreekPublicatieAfVerslagType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="BreekPublicatieAfUitkomstCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="ok">
            <xs:annotation>
               <xs:documentation>De opdracht is met succes afgerond.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="behandeling-mislukt">
            <xs:annotation>
               <xs:documentation>De behandeling van de opdracht is mislukt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <!--
  Antwoord voor opdracht tot validatie van de revisie
  -->
   <xs:element name="validatieRevisieVerzoekResultaat"
               type="lvbbt:ValidatieRevisieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:validatieRevisieVerzoekResultaat"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ValidatieRevisieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ValidatieRevisieVerzoekResultaatType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:VerzoekResultaatType">
            <xs:sequence>
               <xs:element minOccurs="1"
                           name="verslag"
                           type="lvbbt:ValidatieRevisieVerslagType">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verslag:ValidatieRevisieVerzoekResultaatType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ValidatieRevisieVerslagType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ValidatieRevisieVerslagType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtverslagType">
            <xs:choice>
               <xs:element name="uitkomst" type="lvbbt:ValidatieRevisieUitkomstCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:uitkomst:ValidatieRevisieVerslagType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="voortgang" type="lvbbt:ValidatieRevisieVoortgangCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:voortgang:ValidatieRevisieVerslagType"/>
                  </xs:annotation>
               </xs:element>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ValidatieRevisieUitkomstCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="valide">
            <xs:annotation>
               <xs:documentation>De revisie voldoet aan alle eisen die de LVBB er op dit moment aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="niet-valide">
            <xs:annotation>
               <xs:documentation>De revisie voldoet niet aan de eisen die de LVBB er aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="behandeling-afgebroken">
            <xs:annotation>
               <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ValidatieRevisieVoortgangCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="validatie-voltooid">
            <xs:annotation>
               <xs:documentation>De validatie van de revisie is voltooid.
          </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <!--
  Antwoord voor opdracht voor een revisie
  -->
   <xs:element name="revisieVerzoekResultaat" type="lvbbt:RevisieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:revisieVerzoekResultaat"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RevisieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:RevisieVerzoekResultaatType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:VerzoekResultaatType">
            <xs:sequence>
               <xs:element minOccurs="1" name="verslag" type="lvbbt:RevisieVerslagType">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verslag:RevisieVerzoekResultaatType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RevisieVerslagType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:RevisieVerslagType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtverslagType">
            <xs:choice>
               <xs:element name="uitkomst" type="lvbbt:RevisieUitkomstCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:uitkomst:RevisieVerslagType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="voortgang" type="lvbbt:RevisieVoortgangCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:voortgang:RevisieVerslagType"/>
                  </xs:annotation>
               </xs:element>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="RevisieUitkomstCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="mutatie-voltooid">
            <xs:annotation>
               <xs:documentation>De aangeleverde mutatie is uitgevoerd.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="niet-valide">
            <xs:annotation>
               <xs:documentation>De revisie voldoet niet aan de eisen die de LVBB er aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="behandeling-afgebroken">
            <xs:annotation>
               <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RevisieVoortgangCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="validatie-voltooid">
            <xs:annotation>
               <xs:documentation>De validatie van de revisie is voltooid.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <!--
  Antwoord voor opdracht tot validatie van de procedureverloopmutatie
  -->
   <xs:element name="validatieProcedureverloopmutatieVerzoekResultaat"
               type="lvbbt:ValidatieProcedureverloopmutatieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:validatieProcedureverloopmutatieVerzoekResultaat"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ValidatieProcedureverloopmutatieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ValidatieProcedureverloopmutatieVerzoekResultaatType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:VerzoekResultaatType">
            <xs:sequence>
               <xs:element minOccurs="1"
                           name="verslag"
                           type="lvbbt:ValidatieProcedureverloopmutatieVerslagType">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verslag:ValidatieProcedureverloopmutatieVerzoekResultaatType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ValidatieProcedureverloopmutatieVerslagType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ValidatieProcedureverloopmutatieVerslagType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtverslagType">
            <xs:choice>
               <xs:element name="uitkomst"
                           type="lvbbt:ValidatieProcedureverloopmutatieUitkomstCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:uitkomst:ValidatieProcedureverloopmutatieVerslagType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="voortgang"
                           type="lvbbt:ValidatieProcedureverloopmutatieVoortgangCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:voortgang:ValidatieProcedureverloopmutatieVerslagType"/>
                  </xs:annotation>
               </xs:element>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ValidatieProcedureverloopmutatieUitkomstCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="valide">
            <xs:annotation>
               <xs:documentation>De procedureverloopmutatie voldoet aan alle eisen die de LVBB er op dit moment aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="niet-valide">
            <xs:annotation>
               <xs:documentation>De procedureverloopmutatie voldoet niet aan de eisen die de LVBB er aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="behandeling-afgebroken">
            <xs:annotation>
               <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ValidatieProcedureverloopmutatieVoortgangCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="validatie-voltooid">
            <xs:annotation>
               <xs:documentation>De validatie van de procedureverloopmutatie is voltooid.
          </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <!--
  Antwoord voor opdracht voor een procedureverloopmutatie
  -->
   <xs:element name="procedureverloopmutatieVerzoekResultaat"
               type="lvbbt:ProcedureverloopmutatieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:procedureverloopmutatieVerzoekResultaat"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ProcedureverloopmutatieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ProcedureverloopmutatieVerzoekResultaatType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:VerzoekResultaatType">
            <xs:sequence>
               <xs:element minOccurs="1"
                           name="verslag"
                           type="lvbbt:ProcedureverloopmutatieVerslagType">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verslag:ProcedureverloopmutatieVerzoekResultaatType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ProcedureverloopmutatieVerslagType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ProcedureverloopmutatieVerslagType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtverslagType">
            <xs:choice>
               <xs:element name="uitkomst" type="lvbbt:ProcedureverloopmutatieUitkomstCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:uitkomst:ProcedureverloopmutatieVerslagType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="voortgang" type="lvbbt:ProcedureverloopmutatieVoortgangCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:voortgang:ProcedureverloopmutatieVerslagType"/>
                  </xs:annotation>
               </xs:element>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ProcedureverloopmutatieUitkomstCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="mutatie-voltooid">
            <xs:annotation>
               <xs:documentation>De aangeleverde procedureverloopmutatie is uitgevoerd.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="niet-valide">
            <xs:annotation>
               <xs:documentation>De procedureverloopmutatie voldoet niet aan de eisen die de LVBB er aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="behandeling-afgebroken">
            <xs:annotation>
               <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ProcedureverloopmutatieVoortgangCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="validatie-voltooid">
            <xs:annotation>
               <xs:documentation>De validatie van de procedureverloopmutatie is voltooid.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <!--
  Antwoord voor opdracht tot validatie van de registratie
  -->
   <xs:element name="validatieRegistratieVerzoekResultaat"
               type="lvbbt:ValidatieRegistratieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:validatieRegistratieVerzoekResultaat"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ValidatieRegistratieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ValidatieRegistratieVerzoekResultaatType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:VerzoekResultaatType">
            <xs:sequence>
               <xs:element minOccurs="1"
                           name="verslag"
                           type="lvbbt:ValidatieRegistratieVerslagType">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verslag:ValidatieRegistratieVerzoekResultaatType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ValidatieRegistratieVerslagType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ValidatieRegistratieVerslagType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtverslagType">
            <xs:choice>
               <xs:element name="uitkomst" type="lvbbt:ValidatieRegistratieUitkomstCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:uitkomst:ValidatieRegistratieVerslagType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="voortgang" type="lvbbt:ValidatieRegistratieVoortgangCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:voortgang:ValidatieRegistratieVerslagType"/>
                  </xs:annotation>
               </xs:element>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ValidatieRegistratieUitkomstCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="valide">
            <xs:annotation>
               <xs:documentation>De registratie voldoet aan alle eisen die de LVBB er op dit moment aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="niet-valide">
            <xs:annotation>
               <xs:documentation>De registratie voldoet niet aan de eisen die de LVBB er aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="behandeling-afgebroken">
            <xs:annotation>
               <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ValidatieRegistratieVoortgangCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="validatie-voltooid">
            <xs:annotation>
               <xs:documentation>De validatie van de registratie is voltooid.
          </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <!--
  Antwoord voor registratieopdracht
  -->
   <xs:element name="registratieVerzoekResultaat"
               type="lvbbt:RegistratieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:registratieVerzoekResultaat"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RegistratieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:RegistratieVerzoekResultaatType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:VerzoekResultaatType">
            <xs:sequence>
               <xs:element minOccurs="1" name="verslag" type="lvbbt:RegistratieVerslagType">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verslag:RegistratieVerzoekResultaatType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RegistratieVerslagType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:RegistratieVerslagType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtverslagType">
            <xs:choice>
               <xs:element name="uitkomst" type="lvbbt:RegistratieUitkomstCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:uitkomst:RegistratieVerslagType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="voortgang" type="lvbbt:RegistratieVoortgangCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:voortgang:RegistratieVerslagType"/>
                  </xs:annotation>
               </xs:element>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="RegistratieUitkomstCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="registratie-voltooid">
            <xs:annotation>
               <xs:documentation>De aangeleverde registratieopdracht is uitgevoerd.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="niet-valide">
            <xs:annotation>
               <xs:documentation>De registratie voldoet niet aan de eisen die de LVBB er aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="behandeling-afgebroken">
            <xs:annotation>
               <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RegistratieVoortgangCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="validatie-voltooid">
            <xs:annotation>
               <xs:documentation>De validatie van de registratieopdracht is voltooid.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="validatieDoorleverenRegelingVersieVerzoekResultaat"
      type="lvbbt:ValidatieDoorleverenRegelingVersieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:validatieDoorleverenRegelingVersieVerzoekResultaat"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ValidatieDoorleverenRegelingVersieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ValidatieDoorleverenRegelingVersieVerzoekResultaatType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:VerzoekResultaatType">
            <xs:sequence>
               <xs:element minOccurs="1"
                  name="verslag"
                  type="lvbbt:ValidatieDoorleverenRegelingVersieVerslagType">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verslag:ValidatieDoorleverenRegelingVersieVerzoekResultaatType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ValidatieDoorleverenRegelingVersieVerslagType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:ValidatieDoorleverenRegelingVersieVerslagType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtverslagType">
            <xs:choice>
               <xs:element name="uitkomst" type="lvbbt:ValidatieDoorleverenRegelingVersieUitkomstCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:uitkomst:ValidatieDoorleverenRegelingVersieVerslagType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="voortgang" type="lvbbt:ValidatieDoorleverenRegelingVersieVoortgangCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:voortgang:ValidatieDoorleverenRegelingVersieVerslagType"/>
                  </xs:annotation>
               </xs:element>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ValidatieDoorleverenRegelingVersieUitkomstCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="valide">
            <xs:annotation>
               <xs:documentation>De DoorleverenRegelingVersie voldoet aan alle eisen die de LVBB er op dit moment aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="niet-valide">
            <xs:annotation>
               <xs:documentation>De DoorleverenRegelingVersie voldoet niet aan de eisen die de LVBB er aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="behandeling-afgebroken">
            <xs:annotation>
               <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ValidatieDoorleverenRegelingVersieVoortgangCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="validatie-voltooid">
            <xs:annotation>
               <xs:documentation>De validatie van de DoorleverenRegelingVersie is voltooid.
               </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <!--
  Antwoord voor DoorleverenRegelingVersieopdracht
  -->
   <xs:element name="DoorleverenRegelingVersieVerzoekResultaat"
      type="lvbbt:DoorleverenRegelingVersieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:DoorleverenRegelingVersieVerzoekResultaat"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="DoorleverenRegelingVersieVerzoekResultaatType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:DoorleverenRegelingVersieVerzoekResultaatType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:VerzoekResultaatType">
            <xs:sequence>
               <xs:element minOccurs="1" name="verslag" type="lvbbt:DoorleverenRegelingVersieVerslagType">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:verslag:DoorleverenRegelingVersieVerzoekResultaatType"/>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DoorleverenRegelingVersieVerslagType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:DoorleverenRegelingVersieVerslagType"/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="lvbbt:OpdrachtverslagType">
            <xs:choice>
               <xs:element name="uitkomst" type="lvbbt:DoorleverenRegelingVersieUitkomstCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:uitkomst:DoorleverenRegelingVersieVerslagType"/>
                  </xs:annotation>
               </xs:element>
               <xs:element name="voortgang" type="lvbbt:DoorleverenRegelingVersieVoortgangCode">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/lvbb/bronhouderkoppelvlak/1.3.0-ic/go/go.html?id=xsd:lvbbt:voortgang:DoorleverenRegelingVersieVerslagType"/>
                  </xs:annotation>
               </xs:element>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="DoorleverenRegelingVersieUitkomstCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="registratie-voltooid">
            <xs:annotation>
               <xs:documentation>De aangeleverde DoorleverenRegelingVersieopdracht is uitgevoerd.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="niet-valide">
            <xs:annotation>
               <xs:documentation>De DoorleverenRegelingVersie voldoet niet aan de eisen die de LVBB er aan stelt.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="behandeling-afgebroken">
            <xs:annotation>
               <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DoorleverenRegelingVersieVoortgangCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="validatie-voltooid">
            <xs:annotation>
               <xs:documentation>De validatie van de DoorleverenRegelingVersieopdracht is voltooid.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
