imtr 3.0/Bedrijfsregel_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bedr="http://toepasbare-regels.omgevingswet.overheid.nl/v2.0/Bedrijfsregel"
  elementFormDefault="qualified"
  targetNamespace="http://toepasbare-regels.omgevingswet.overheid.nl/v2.0/Bedrijfsregel"
  version="2.0.0">

  <xs:simpleType name="sttrVersie">
    <xs:restriction base="xs:string">
      <xs:enumeration value="3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="sttr">
    <xs:complexType>
      <xs:attribute name="versie" type="bedr:sttrVersie" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="functioneleStructuurRef">
    <xs:complexType>
      <xs:attribute name="href" type="xs:anyURI" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
