BrigitteVersie/lvbb-transport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.overheid.nl/2017/lvbb"
  version="1.3.0" xmlns:lvbbt="http://www.overheid.nl/2017/lvbb"
  xmlns:stop="http://www.overheid.nl/2017/stop" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:annotation>
    <xs:documentation>LVBB-Transport-schema</xs:documentation>
    <xs:documentation>versie 1.3.0</xs:documentation>
  </xs:annotation>

  <xs:import namespace="http://www.overheid.nl/2017/stop"
    schemaLocation="https://raw.githubusercontent.com/RicharddeGraaf1/schemaTestsRichard/main/BrigitteVersie/stop_toevoeging.xsd"/>

  <!--===========================================================================
  
  Schema voor de LVBB berichten en bestanden die via het Digikoppeling
  aanleverkoppelvlak worden uitgewisseld.
  
  ============================================================================-->

  <!--
  Basistypen voor het Digikoppeling berichtenverkeer : ebMS
  -->
  <xs:element name="validatieVerzoek" type="lvbbt:LeveringVerzoekType"> </xs:element>
  <xs:element name="publicatieVerzoek" type="lvbbt:LeveringVerzoekType"> </xs:element>
  <xs:element name="breekPublicatieAfVerzoek" type="lvbbt:LeveringVerzoekType"> </xs:element>
  <xs:element name="validatieDirecteMutatieVerzoek" type="lvbbt:LeveringVerzoekType"> </xs:element>
  <xs:element name="directeMutatieVerzoek" type="lvbbt:LeveringVerzoekType"> </xs:element>
  <xs:element name="validatieRevisieVerzoek" type="lvbbt:LeveringVerzoekType"> </xs:element>
  <xs:element name="revisieVerzoek" type="lvbbt:LeveringVerzoekType"> </xs:element>
  <xs:element name="validatieProcedureverloopmutatieVerzoek" type="lvbbt:LeveringVerzoekType"> </xs:element>
  <xs:element name="procedureverloopmutatieVerzoek" type="lvbbt:LeveringVerzoekType"> </xs:element>
  <xs:element name="valideerDoorleverenRegelingVersie" type="lvbbt:leveringRegelingVersieType"> </xs:element>
  <xs:element name="doorleverenRegelingVersie" type="lvbbt:leveringRegelingVersieType"> </xs:element>
  <xs:element name="validatieRegistratieVerzoek" type="lvbbt:LeveringVerzoekType"> </xs:element>
  <xs:element name="registratieVerzoek" type="lvbbt:LeveringVerzoekType"> </xs:element>

  <xs:complexType name="LeveringVerzoekType">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="idLevering" type="lvbbt:dtIdLevering"> </xs:element>
      <xs:element name="softwareVersie" type="lvbbt:SoftwareVersieType"> </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="dtIdLevering">
    <xs:restriction base="xs:string">
      <xs:maxLength value="80"/>
      <xs:pattern value="[0-9A-z][0-9A-z_-]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="SoftwareVersieType">
    <xs:sequence>
      <xs:element name="leverancier" type="xs:string"> </xs:element>
      <xs:element minOccurs="0" name="product" type="xs:string"> </xs:element>
      <xs:element minOccurs="0" name="versie" type="xs:string"> </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--
  Opdrachtbestand: manifest.xml
  -->
  <xs:element name="manifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="2" name="bestand" type="lvbbt:BestandType">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="schemaversie" type="xs:token" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="BestandType">
    <xs:sequence>
      <xs:element name="bestandsnaam" type="lvbbt:dtBestandsnaam"> </xs:element>
      <xs:element name="contentType" type="xs:string"> </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="dtBestandsnaam">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9A-Za-z\._-]+"/>
    </xs:restriction>
  </xs:simpleType>

  <!--
  Opdrachtbestand: opdracht.xml
  -->
  <xs:complexType abstract="true" name="OpdrachtType">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="idLevering" type="lvbbt:dtIdLevering"> </xs:element>
      <xs:element name="idBevoegdGezag" type="lvbbt:dtOIN"> </xs:element>
      <xs:element name="idAanleveraar" type="lvbbt:dtOIN"> </xs:element>
    </xs:sequence>
    <xs:attribute name="schemaversie" type="xs:token" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="dtOIN">
    <xs:restriction base="xs:token">
      <xs:maxLength value="20"/>
      <xs:minLength value="20"/>
      <xs:pattern value="[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dtDatumISO">
    <xs:restriction base="xs:date">
      <xs:pattern value="[0-9]{4}-[01][0-9]-[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VerwerkingsrestrictieCode">
    <xs:annotation>
      <xs:documentation>Type verwerkingsrestrictie</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bekendmaken">
        <xs:annotation>
          <xs:documentation>De opdracht moet alleen bekendgemaakt worden.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="validatieOpdracht" type="lvbbt:ValidatieOpdrachtType"> </xs:element>
  <xs:complexType name="ValidatieOpdrachtType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtType">
        <xs:sequence>
          <xs:element name="publicatie" type="lvbbt:dtBestandsnaam"> </xs:element>
          <xs:element name="datumBekendmaking" type="lvbbt:dtDatumISO"> </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="verwerkingsrestrictie"
            type="lvbbt:VerwerkingsrestrictieCode"> </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="publicatieOpdracht" type="lvbbt:PublicatieOpdrachtType"> </xs:element>
  <xs:complexType name="PublicatieOpdrachtType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtType">
        <xs:sequence>
          <xs:element name="publicatie" type="lvbbt:dtBestandsnaam"> </xs:element>
          <xs:element name="datumBekendmaking" type="xs:date"> </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="verwerkingsrestrictie"
            type="lvbbt:VerwerkingsrestrictieCode"> </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="breekPublicatieAfOpdracht" type="lvbbt:BreekPublicatieAfOpdrachtType"> </xs:element>
  <xs:complexType name="BreekPublicatieAfOpdrachtType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtType">
        <xs:sequence>
          <xs:element name="identificatie" type="xs:string"> </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="validatieDirecteMutatieOpdracht"
    type="lvbbt:ValidatieDirecteMutatieOpdrachtType"> </xs:element>
  <xs:complexType name="ValidatieDirecteMutatieOpdrachtType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="directeMutatie" type="lvbbt:dtBestandsnaam">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="directeMutatieOpdracht" type="lvbbt:DirecteMutatieOpdrachtType"> </xs:element>
  <xs:complexType name="DirecteMutatieOpdrachtType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="directeMutatie" type="lvbbt:dtBestandsnaam">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="validatieRevisieOpdracht" type="lvbbt:ValidatieRevisieOpdrachtType"> </xs:element>
  <xs:complexType name="ValidatieRevisieOpdrachtType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtType">
        <xs:sequence>
          <xs:element name="revisie" type="lvbbt:dtBestandsnaam"> </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="revisieOpdracht" type="lvbbt:RevisieOpdrachtType"> </xs:element>
  <xs:complexType name="RevisieOpdrachtType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtType">
        <xs:sequence>
          <xs:element name="revisie" type="lvbbt:dtBestandsnaam"> </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="validatieProcedureverloopmutatieOpdracht"
    type="lvbbt:ValidatieProcedureverloopmutatieOpdrachtType"> </xs:element>
  <xs:complexType name="ValidatieProcedureverloopmutatieOpdrachtType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtType">
        <xs:sequence>
          <xs:element name="procedureverloopmutatie" type="lvbbt:dtBestandsnaam"> </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="procedureverloopmutatieOpdracht"
    type="lvbbt:ProcedureverloopmutatieOpdrachtType"> </xs:element>
  <xs:complexType name="ProcedureverloopmutatieOpdrachtType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtType">
        <xs:sequence>
          <xs:element name="procedureverloopmutatie" type="lvbbt:dtBestandsnaam"> </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="leveringRegelingVersieType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="consolidatie" type="lvbbt:dtBestandsnaam">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="validatieRegistratieOpdracht" type="lvbbt:ValidatieRegistratieOpdrachtType"> </xs:element>
  <xs:complexType name="ValidatieRegistratieOpdrachtType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtType">
        <xs:sequence>
          <xs:element name="registratie" type="lvbbt:dtBestandsnaam"> </xs:element>
          <xs:element name="verantwoording" type="lvbbt:dtBestandsnaam"> </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="registratieOpdracht" type="lvbbt:RegistratieOpdrachtType"> </xs:element>
  <xs:complexType name="RegistratieOpdrachtType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtType">
        <xs:sequence>
          <xs:element name="registratie" type="lvbbt:dtBestandsnaam"> </xs:element>
          <xs:element name="verantwoording" type="lvbbt:dtBestandsnaam"> </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!--
  Antwoordberichten
  -->
  <xs:complexType abstract="true" name="VerzoekResultaatType">
    <xs:sequence>
      <xs:element name="uitkomst" type="lvbbt:VerzoekUitkomstCode"> </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="VerzoekUitkomstCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="succes">
        <xs:annotation>
          <xs:documentation>De LVBB heeft met succes het verzoek uitgevoerd.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mislukt">
        <xs:annotation>
          <xs:documentation>De LVBB heeft het verzoek niet kunnen uitvoeren of de opdracht is niet valide.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="OpdrachtverslagType">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="idLevering" type="lvbbt:dtIdLevering"> </xs:element>
      <xs:element name="tijdstipVerslag" type="xs:dateTime"> </xs:element>
      <xs:element minOccurs="1" name="meldingen">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="melding" type="stop:melding"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--
  Antwoord voor validatieopdracht
  -->
  <xs:element name="validatieVerzoekResultaat" type="lvbbt:ValidatieVerzoekResultaatType"> </xs:element>
  <xs:complexType name="ValidatieVerzoekResultaatType">
    <xs:complexContent>
      <xs:extension base="lvbbt:VerzoekResultaatType">
        <xs:sequence>
          <xs:element minOccurs="1" name="verslag" type="lvbbt:ValidatieVerslagType"> </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ValidatieVerslagType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtverslagType">
        <xs:choice>
          <xs:element name="uitkomst" type="lvbbt:ValidatieUitkomstCode"> </xs:element>
          <xs:element name="voortgang" type="lvbbt:ValidatieVoortgangCode"> </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="ValidatieUitkomstCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="valide">
        <xs:annotation>
          <xs:documentation>Het besluit, de kennisgeving, de rectificatie of de mededeling voldoet aan alle eisen die de LVBB er op
            dit moment aan stelt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="niet-valide">
        <xs:annotation>
          <xs:documentation>Het besluit, de kennisgeving, de rectificatie of de mededeling voldoet niet aan de eisen die de LVBB er
            aan stelt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="behandeling-afgebroken">
        <xs:annotation>
          <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidatieVoortgangCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="validatie-voltooid">
        <xs:annotation>
          <xs:documentation>De validatie van het besluit, de kennisgeving, de rectificatie of de mededeling is voltooid.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!--
  Antwoord voor publicatieopdracht
  -->
  <xs:element name="publicatieVerzoekResultaat" type="lvbbt:PublicatieVerzoekResultaatType"> </xs:element>
  <xs:complexType name="PublicatieVerzoekResultaatType">
    <xs:complexContent>
      <xs:extension base="lvbbt:VerzoekResultaatType">
        <xs:sequence>
          <xs:element minOccurs="1" name="verslag" type="lvbbt:PublicatieVerslagType"> </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PublicatieVerslagType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtverslagType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="uitkomst" type="lvbbt:PublicatieUitkomstCode"> </xs:element>
            <xs:element name="voortgang" type="lvbbt:PublicatieVoortgangCode"> </xs:element>
          </xs:choice>
          <xs:element minOccurs="0" name="tijdstipPublicatie" type="xs:dateTime"> </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="PublicatieUitkomstCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="gepubliceerd">
        <xs:annotation>
          <xs:documentation>Het besluit, de kennisgeving, de rectificatie of de mededeling mededeling is gepubliceerd.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="niet-valide">
        <xs:annotation>
          <xs:documentation>Het besluit, de kennisgeving, de rectificatie of de mededeling voldoet niet aan de eisen die de LVBB er
            aan stelt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="behandeling-afgebroken">
        <xs:annotation>
          <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PublicatieVoortgangCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="validatie-voltooid">
        <xs:annotation>
          <xs:documentation>De validatie van het besluit, de kennisgeving, de rectificatie of de mededeling is voltooid.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="registratie-voltooid">
        <xs:annotation>
          <xs:documentation>Het aangeleverde besluit, de kennisgeving, de rectificatie of de mededeling en afgeleide producten zijn
            geregistreerd in de LVBB en staan klaar om gepubliceerd te worden.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>


  <!--
  Antwoord voor breekPublicatieAfVerzoek 
  -->
  <xs:element name="breekPublicatieAfVerzoekResultaat"
    type="lvbbt:BreekPublicatieAfVerzoekResultaatType"> </xs:element>
  <xs:complexType name="BreekPublicatieAfVerzoekResultaatType">
    <xs:complexContent>
      <xs:extension base="lvbbt:VerzoekResultaatType">
        <xs:sequence>
          <xs:element minOccurs="0" name="verslag" type="lvbbt:BreekPublicatieAfVerslagType">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BreekPublicatieAfVerslagType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtverslagType">
        <xs:sequence>
          <xs:element name="uitkomst" type="lvbbt:BreekPublicatieAfUitkomstCode">
            <xs:annotation>
              <xs:documentation>Code die aangeeft of de behandeling van een
                breekPublicatieAfOpdracht is geslaagd.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="BreekPublicatieAfUitkomstCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ok">
        <xs:annotation>
          <xs:documentation>De opdracht is met succes afgerond.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="behandeling-mislukt">
        <xs:annotation>
          <xs:documentation>De behandeling van de opdracht is mislukt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!--
  Antwoord voor opdracht tot validatie van de directe mutatie
  -->
  <xs:element name="validatieDirecteMutatieVerzoekResultaat"
    type="lvbbt:ValidatieDirecteMutatieVerzoekResultaatType">
    <xs:annotation>
      <xs:documentation> Root element van het antwoord op een verzoek voor een opdracht tot
        validatie van een directe mutatie. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ValidatieDirecteMutatieVerzoekResultaatType">
    <xs:annotation>
      <xs:documentation> Beschrijving van het antwoord op een verzoek voor een opdracht tot
        validatie van een directe mutatie. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="lvbbt:VerzoekResultaatType">
        <xs:sequence>
          <xs:element minOccurs="0" name="verslag" type="lvbbt:ValidatieDirecteMutatieVerslagType">
            <xs:annotation>
              <xs:documentation> Verslag van de voortgang en uitkomst van de opdracht tot validatie
                van een directe mutatie. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ValidatieDirecteMutatieVerslagType">
    <xs:annotation>
      <xs:documentation> Beschrijving van het verslag van de behandeling van een opdracht tot
        validatie van een directe mutatie. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtverslagType">
        <xs:choice>
          <xs:element name="uitkomst" type="lvbbt:ValidatieDirecteMutatieUitkomstCode">
            <xs:annotation>
              <xs:documentation> Code het resultaat van de validatie aangeeft. Alleen aanwezig als
                  de behandeling van de validatieopdracht volledig is afgerond. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="voortgang" type="lvbbt:ValidatieDirecteMutatieVoortgangCode">
            <xs:annotation>
              <xs:documentation> Voortgang van de behandeling van de validatieopdracht. Alleen
                  aanwezig als de validatieopdracht nog in behandeling is. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="ValidatieDirecteMutatieUitkomstCode">
    <xs:annotation>
      <xs:documentation> Code die aangeeft of de behandeling van een opdracht tot validatie van een
        directe mutatie is geslaagd. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="valide">
        <xs:annotation>
          <xs:documentation> De directe mutatie voldoet aan alle eisen die de LVBB er op dit moment
            aan stelt. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="niet-valide">
        <xs:annotation>
          <xs:documentation> De directe mutatie voldoet niet aan de eisen die de LVBB er aan stelt.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidatieDirecteMutatieVoortgangCode">
    <xs:annotation>
      <xs:documentation> Code die aangeeft hoe ver de behandeling van een opdracht tot validatie van
        een directe mutatie is gevorderd. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="validatie-voltooid">
        <xs:annotation>
          <xs:documentation> De validatie van de directe mutatie is voltooid. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!--
  Antwoord voor opdracht voor een directe mutatie
  -->
  <xs:element name="directeMutatieVerzoekResultaat" type="lvbbt:DirecteMutatieVerzoekResultaatType">
    <xs:annotation>
      <xs:documentation> Root element van het antwoord op een verzoek voor een opdracht voor een
        directe mutatie. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DirecteMutatieVerzoekResultaatType">
    <xs:annotation>
      <xs:documentation> Beschrijving van het antwoord op een verzoek voor een opdracht voor een
        directe mutatie. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="lvbbt:VerzoekResultaatType">
        <xs:sequence>
          <xs:element minOccurs="0" name="verslag" type="lvbbt:DirecteMutatieVerslagType">
            <xs:annotation>
              <xs:documentation> Verslag van de voortgang en uitkomst van de opdracht voor een
                directe mutatie. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DirecteMutatieVerslagType">
    <xs:annotation>
      <xs:documentation> Beschrijving van het verslag van de behandeling van een opdracht voor een
        directe mutatie. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtverslagType">
        <xs:choice>
          <xs:element name="uitkomst" type="lvbbt:DirecteMutatieUitkomstCode">
            <xs:annotation>
              <xs:documentation> Code het resultaat van de directe mutatie aangeeft. Alleen
                  aanwezig als de behandeling van de mutatieopdracht volledig is afgerond.
                </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="voortgang" type="lvbbt:DirecteMutatieVoortgangCode">
            <xs:annotation>
              <xs:documentation> Voortgang van de behandeling van de directe mutatie. Alleen
                  aanwezig als de mutatieopdracht nog in behandeling is. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="DirecteMutatieUitkomstCode">
    <xs:annotation>
      <xs:documentation> Code die aangeeft of de behandeling van een opdracht voor een directe
        mutatie is geslaagd. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ok">
        <xs:annotation>
          <xs:documentation> De opdracht is met succes afgerond. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="niet-valide">
        <xs:annotation>
          <xs:documentation> De directe mutatie voldoet niet aan de eisen die de LVBB er aan stelt.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="behandeling-afgebroken">
        <xs:annotation>
          <xs:documentation> De behandeling van de opdracht is afgebroken. 
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DirecteMutatieVoortgangCode">
    <xs:annotation>
      <xs:documentation> Code die aangeeft hoe ver de behandeling van een opdracht voor een directe
        mutatie is gevorderd. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="validatie-voltooid">
        <xs:annotation>
          <xs:documentation> De directe mutatie is voltooid. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mutatie-voltooid">
        <xs:annotation>
          <xs:documentation> De aangeleverde mutatie is uitgevoerd. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!--
  Antwoord voor opdracht tot validatie van de revisie
  -->
  <xs:element name="validatieRevisieVerzoekResultaat"
    type="lvbbt:ValidatieRevisieVerzoekResultaatType"> </xs:element>
  <xs:complexType name="ValidatieRevisieVerzoekResultaatType">
    <xs:complexContent>
      <xs:extension base="lvbbt:VerzoekResultaatType">
        <xs:sequence>
          <xs:element minOccurs="1" name="verslag" type="lvbbt:ValidatieRevisieVerslagType">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ValidatieRevisieVerslagType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtverslagType">
        <xs:choice>
          <xs:element name="uitkomst" type="lvbbt:ValidatieRevisieUitkomstCode"> </xs:element>
          <xs:element name="voortgang" type="lvbbt:ValidatieRevisieVoortgangCode"> </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="ValidatieRevisieUitkomstCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="valide">
        <xs:annotation>
          <xs:documentation>De revisie voldoet aan alle eisen die de LVBB er op dit moment aan stelt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="niet-valide">
        <xs:annotation>
          <xs:documentation>De revisie voldoet niet aan de eisen die de LVBB er aan stelt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="behandeling-afgebroken">
        <xs:annotation>
          <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidatieRevisieVoortgangCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="validatie-voltooid">
        <xs:annotation>
          <xs:documentation>De validatie van de revisie is voltooid.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>



  <!--
  Antwoord voor opdracht voor een revisie
  -->
  <xs:element name="revisieVerzoekResultaat" type="lvbbt:RevisieVerzoekResultaatType"> </xs:element>
  <xs:complexType name="RevisieVerzoekResultaatType">
    <xs:complexContent>
      <xs:extension base="lvbbt:VerzoekResultaatType">
        <xs:sequence>
          <xs:element minOccurs="1" name="verslag" type="lvbbt:RevisieVerslagType"> </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RevisieVerslagType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtverslagType">
        <xs:choice>
          <xs:element name="uitkomst" type="lvbbt:RevisieUitkomstCode"> </xs:element>
          <xs:element name="voortgang" type="lvbbt:RevisieVoortgangCode"> </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="RevisieUitkomstCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="mutatie-voltooid">
        <xs:annotation>
          <xs:documentation>De aangeleverde mutatie is uitgevoerd.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="niet-valide">
        <xs:annotation>
          <xs:documentation>De revisie voldoet niet aan de eisen die de LVBB er aan stelt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="behandeling-afgebroken">
        <xs:annotation>
          <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RevisieVoortgangCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="validatie-voltooid">
        <xs:annotation>
          <xs:documentation>De validatie van de revisie is voltooid.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>


  <!--
  Antwoord voor opdracht tot validatie van de procedureverloopmutatie
  -->
  <xs:element name="validatieProcedureverloopmutatieVerzoekResultaat"
    type="lvbbt:ValidatieProcedureverloopmutatieVerzoekResultaatType"> </xs:element>
  <xs:complexType name="ValidatieProcedureverloopmutatieVerzoekResultaatType">
    <xs:complexContent>
      <xs:extension base="lvbbt:VerzoekResultaatType">
        <xs:sequence>
          <xs:element minOccurs="1" name="verslag"
            type="lvbbt:ValidatieProcedureverloopmutatieVerslagType"> </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ValidatieProcedureverloopmutatieVerslagType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtverslagType">
        <xs:choice>
          <xs:element name="uitkomst" type="lvbbt:ValidatieProcedureverloopmutatieUitkomstCode"> </xs:element>
          <xs:element name="voortgang" type="lvbbt:ValidatieProcedureverloopmutatieVoortgangCode">
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="ValidatieProcedureverloopmutatieUitkomstCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="valide">
        <xs:annotation>
          <xs:documentation>De procedureverloopmutatie voldoet aan alle eisen die de LVBB er op dit moment aan stelt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="niet-valide">
        <xs:annotation>
          <xs:documentation>De procedureverloopmutatie voldoet niet aan de eisen die de LVBB er aan stelt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="behandeling-afgebroken">
        <xs:annotation>
          <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidatieProcedureverloopmutatieVoortgangCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="validatie-voltooid">
        <xs:annotation>
          <xs:documentation>De validatie van de procedureverloopmutatie is voltooid.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>



  <!--
  Antwoord voor opdracht voor een procedureverloopmutatie
  -->
  <xs:element name="procedureverloopmutatieVerzoekResultaat"
    type="lvbbt:ProcedureverloopmutatieVerzoekResultaatType"> </xs:element>
  <xs:complexType name="ProcedureverloopmutatieVerzoekResultaatType">
    <xs:complexContent>
      <xs:extension base="lvbbt:VerzoekResultaatType">
        <xs:sequence>
          <xs:element minOccurs="1" name="verslag" type="lvbbt:ProcedureverloopmutatieVerslagType">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ProcedureverloopmutatieVerslagType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtverslagType">
        <xs:choice>
          <xs:element name="uitkomst" type="lvbbt:ProcedureverloopmutatieUitkomstCode"> </xs:element>
          <xs:element name="voortgang" type="lvbbt:ProcedureverloopmutatieVoortgangCode">
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="ProcedureverloopmutatieUitkomstCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="mutatie-voltooid">
        <xs:annotation>
          <xs:documentation>De aangeleverde procedureverloopmutatie is uitgevoerd.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="niet-valide">
        <xs:annotation>
          <xs:documentation>De procedureverloopmutatie voldoet niet aan de eisen die de LVBB er aan stelt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="behandeling-afgebroken">
        <xs:annotation>
          <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ProcedureverloopmutatieVoortgangCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="validatie-voltooid">
        <xs:annotation>
          <xs:documentation>De validatie van de procedureverloopmutatie is voltooid.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>





  <!--
  Antwoord voor opdracht tot validatie van de registratie
  -->
  <xs:element name="validatieRegistratieVerzoekResultaat"
    type="lvbbt:ValidatieRegistratieVerzoekResultaatType"> </xs:element>
  <xs:complexType name="ValidatieRegistratieVerzoekResultaatType">
    <xs:complexContent>
      <xs:extension base="lvbbt:VerzoekResultaatType">
        <xs:sequence>
          <xs:element minOccurs="1" name="verslag" type="lvbbt:ValidatieRegistratieVerslagType">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ValidatieRegistratieVerslagType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtverslagType">
        <xs:choice>
          <xs:element name="uitkomst" type="lvbbt:ValidatieRegistratieUitkomstCode"> </xs:element>
          <xs:element name="voortgang" type="lvbbt:ValidatieRegistratieVoortgangCode"> </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="ValidatieRegistratieUitkomstCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="valide">
        <xs:annotation>
          <xs:documentation>De registratie voldoet aan alle eisen die de LVBB er op dit moment aan stelt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="niet-valide">
        <xs:annotation>
          <xs:documentation>De registratie voldoet niet aan de eisen die de LVBB er aan stelt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="behandeling-afgebroken">
        <xs:annotation>
          <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ValidatieRegistratieVoortgangCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="validatie-voltooid">
        <xs:annotation>
          <xs:documentation>De validatie van de registratie is voltooid.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>


  <!--
  Antwoord voor registratieopdracht
  -->
  <xs:element name="registratieVerzoekResultaat" type="lvbbt:RegistratieVerzoekResultaatType"> </xs:element>
  <xs:complexType name="RegistratieVerzoekResultaatType">
    <xs:complexContent>
      <xs:extension base="lvbbt:VerzoekResultaatType">
        <xs:sequence>
          <xs:element minOccurs="1" name="verslag" type="lvbbt:RegistratieVerslagType">
            <xs:annotation>
              <xs:documentation>Verslag van de voortgang en uitkomst van de behandeling van de registratieopdracht.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RegistratieVerslagType">
    <xs:complexContent>
      <xs:extension base="lvbbt:OpdrachtverslagType">
        <xs:choice>
          <xs:element name="uitkomst" type="lvbbt:RegistratieUitkomstCode"> </xs:element>
          <xs:element name="voortgang" type="lvbbt:RegistratieVoortgangCode"> </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="RegistratieUitkomstCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="registratie-voltooid">
        <xs:annotation>
          <xs:documentation>De aangeleverde registratieopdracht is uitgevoerd.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="niet-valide">
        <xs:annotation>
          <xs:documentation>De registratie voldoet niet aan de eisen die de LVBB er aan stelt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="behandeling-afgebroken">
        <xs:annotation>
          <xs:documentation>De behandeling van de opdracht is afgebroken.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RegistratieVoortgangCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="validatie-voltooid">
        <xs:annotation>
          <xs:documentation>De validatie van de registratieopdracht is voltooid.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
