stop/2.0.0-rc/imop-consolidatie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cons="https://standaarden.overheid.nl/stop/imop/consolidatie/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="https://standaarden.overheid.nl/stop/imop/consolidatie/"
           version="2.0.0-rc">
   <xs:annotation>
      <xs:documentation>"consolidatie-schema" van STOP. </xs:documentation>
      <xs:documentation>Dit schema definieert de elementen voor de STOP-modules voor consolidaties</xs:documentation>
      <xs:documentation>versie 2.0.0-rc</xs:documentation>
   </xs:annotation>
   <!--
  ================================================ 
     Geldende regelgeving                               
  ================================================ 
  -->
   <xs:element name="ConsolidatieIdentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:ConsolidatieIdentificatie"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="cons:FRBRWork"/>
            <xs:element ref="cons:soortWork"/>
            <xs:element ref="cons:isConsolidatieVan"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:isTijdelijkDeelVan"/>
         </xs:sequence>
         <xs:attributeGroup ref="cons:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="isConsolidatieVan">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:isConsolidatieVan"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="cons:WorkIdentificatie"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="isTijdelijkDeelVan">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:isTijdelijkDeelVan"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="cons:WorkIdentificatie"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="WorkIdentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:WorkIdentificatie"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="cons:FRBRWork"/>
            <xs:element ref="cons:soortWork"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="FRBRExpression" type="cons:dtSTOPidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:FRBRExpression"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="FRBRWork" type="cons:dtSTOPidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:FRBRWork"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="soortWork" type="cons:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:soortWork"/>
      </xs:annotation>
   </xs:element>
   <!--
  ================================================ 
     ActueleToestanden, CompleteToestanden
  ================================================ 
  -->
   <xs:element name="ActueleToestanden">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:ActueleToestanden"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="cons:mgContext"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:materieelUitgewerktOp"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:ToestandActueel"/>
         </xs:sequence>
         <xs:attributeGroup ref="cons:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ToestandActueel">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:ToestandActueel"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:FRBRExpression"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:juridischWerkendVanaf"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:juridischWerkendTot"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="1"
                        ref="cons:inwerkingtredingsdoel"/>
            <xs:choice>
               <xs:element maxOccurs="1" minOccurs="1" ref="cons:instrumentVersie"/>
               <xs:element maxOccurs="1" minOccurs="1" name="nogTeConsolideren">
                  <xs:annotation>
                     <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:ToestandActueel:nogTeConsolideren"/>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:Tegensprekend"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:NogTeVerwerken"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:NogTeOntvlechten"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CompleteToestanden">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:CompleteToestanden"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="cons:mgContext"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:materieelUitgewerktOp"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:Tijdreisfilter"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="1"
                        ref="cons:ToestandIdentificatie"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:ToestandInhoud"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:Tijdreisindex"/>
         </xs:sequence>
         <xs:attributeGroup ref="cons:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Tijdreisfilter">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:Tijdreisfilter"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:soortTijdreis"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:ontvangenOpAanwezig"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:bekendOpAanwezig"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:geldigVanafAanwezig"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ToestandIdentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:ToestandIdentificatie"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:toestandId"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:FRBRExpression"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        ref="cons:inwerkingtredingsdoel"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ToestandInhoud">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:ToestandInhoud"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:inhoudId"/>
            <xs:choice maxOccurs="1" minOccurs="1">
               <xs:element maxOccurs="1" minOccurs="1" ref="cons:instrumentVersie"/>
               <xs:element maxOccurs="1" minOccurs="1" ref="cons:isTePresenterenAls"/>
               <xs:element maxOccurs="1" minOccurs="1" ref="cons:isNietInWerking"/>
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="isTePresenterenAls">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:isTePresenterenAls"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" ref="cons:OnvolledigeVersie"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="isNietInWerking">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:isNietInWerking"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="OnvolledigeVersie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:OnvolledigeVersie"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:instrumentVersie"/>
            <xs:element maxOccurs="1" minOccurs="1" name="nogTeConsolideren">
               <xs:annotation>
                  <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:OnvolledigeVersie:nogTeConsolideren"/>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence maxOccurs="unbounded" minOccurs="1">
                     <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:NogTeVerwerken"/>
                     <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:NogTeOntvlechten"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="NogTeVerwerken">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:NogTeVerwerken"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:teVerwerkenDoel"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:laatstBekend"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:laatstVerwerkt"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="NogTeOntvlechten">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:NogTeOntvlechten"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:teOntvlechtenDoel"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:laatstVerwerkt"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Tegensprekend">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:Tegensprekend"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:tegensprekendDoel"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:laatstBekend"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Tijdreisindex">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:Tijdreisindex"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:Tijdreistupel"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Tijdreistupel">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:Tijdreistupel"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:ontvangenOp"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:bekendOp"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:juridischWerkendVanaf"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:geldigVanaf"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:toestandId"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:inhoudId"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="soortTijdreis" type="xs:anyURI">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:soortTijdreis"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="inwerkingtredingsdoel" type="cons:dtDoelidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:inwerkingtredingsdoel"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="tegensprekendDoel" type="cons:dtDoelidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:tegensprekendDoel"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="teVerwerkenDoel" type="cons:dtDoelidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:teVerwerkenDoel"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="teOntvlechtenDoel" type="cons:dtDoelidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:teOntvlechtenDoel"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="gerealiseerdDoel" type="cons:dtDoelidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:gerealiseerdDoel"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="instrumentVersie" type="cons:dtSTOPidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:instrumentVersie"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="ontvangenOpAanwezig" type="xs:boolean">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:ontvangenOpAanwezig"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="bekendOpAanwezig" type="xs:boolean">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:bekendOpAanwezig"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="geldigVanafAanwezig" type="xs:boolean">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:geldigVanafAanwezig"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="laatstBekend" type="cons:dtDateTimeUTC">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:laatstBekend"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="laatstVerwerkt" type="cons:dtDateTimeUTC">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:laatstVerwerkt"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="toestandId" type="xs:nonNegativeInteger">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:toestandId"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="inhoudId" type="xs:nonNegativeInteger">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:inhoudId"/>
      </xs:annotation>
   </xs:element>
   <!--
  ================================================ 
     Proefversie
  ================================================ 
  -->
   <xs:element name="Proefversies">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:Proefversies"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="cons:mgContext"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:materieelUitgewerktOp"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:Proefversie"/>
         </xs:sequence>
         <xs:attributeGroup ref="cons:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Proefversie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:Proefversie"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:doel"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:instrumentVersie"/>
            <xs:element ref="cons:heeftAnnotatiebron"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="heeftAnnotatiebron">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:heeftAnnotatiebron"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:Annotatiebron"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Annotatiebron">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:Annotatiebron"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:doel"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:totEnMet"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:annotatiesOvernemenVan"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="annotatiesOvernemenVan">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:annotatiesOvernemenVan"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:Overerving"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Overerving">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:Overerving"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:vanaf"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:doel"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:gemaaktOp"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="totEnMet" type="cons:dtDateTimeUTC">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:totEnMet"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="vanaf" type="cons:dtDateTimeUTC">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:vanaf"/>
      </xs:annotation>
   </xs:element>
   <!--
  ================================================ 
     Juridische verantwoording                             
  ================================================ 
  -->
   <xs:element name="JuridischeVerantwoording">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:JuridischeVerantwoording"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="cons:mgContext"/>
            <xs:choice>
               <xs:sequence>
                  <xs:element maxOccurs="1" minOccurs="1" ref="cons:VerantwoordingInstrument"/>
                  <xs:element maxOccurs="unbounded"
                              minOccurs="0"
                              ref="cons:VerantwoordingElement"/>
               </xs:sequence>
               <xs:element maxOccurs="unbounded"
                           minOccurs="1"
                           ref="cons:VerantwoordingElement"/>
            </xs:choice>
         </xs:sequence>
         <xs:attributeGroup ref="cons:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="VerantwoordingInstrument">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:VerantwoordingInstrument"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:heeftVerantwoording"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="VerantwoordingElement">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:VerantwoordingElement"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:wId"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:heeftVerantwoording"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="heeftVerantwoording">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:heeftVerantwoording"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:Verantwoording"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="wId" type="xs:token">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:wId"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="Verantwoording">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:Verantwoording"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:doel"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:soortWijziging"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:juridischWerkendVanaf"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:geldigVanaf"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:gepubliceerdIn"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:heeftTijdelijkDeel"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="soortWijziging" type="cons:wlSoortWijziging">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:soortWijziging"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="juridischWerkendVanaf" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:juridischWerkendVanaf"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="juridischWerkendTot" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:juridischWerkendTot"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="geldigVanaf" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:geldigVanaf"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="heeftTijdelijkDeel" type="cons:dtSTOPidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:heeftTijdelijkDeel"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="gepubliceerdIn">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:gepubliceerdIn"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded"
                        minOccurs="1"
                        ref="cons:JuridischeBronpublicatie"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="JuridischeBronpublicatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:JuridischeBronpublicatie"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:url"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:gemaaktOp"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:publicatieIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:publicatienaam"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:soortGepubliceerdWork"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:ondertekendOp"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:gepubliceerdOp"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:bladwijzers"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ondertekendOp" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:ondertekendOp"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="gepubliceerdOp" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:gepubliceerdOp"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="publicatieIdentifier" type="xs:token">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:publicatieIdentifier"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="publicatienaam" type="xs:token">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:publicatienaam"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="soortGepubliceerdWork" type="cons:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:soortGepubliceerdWork"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="bladwijzers">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:bladwijzers"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:Bladwijzer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Bladwijzer">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:Bladwijzer"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="3" minOccurs="1" ref="cons:relevantVoor"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:url"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="relevantVoor" type="cons:wlRelevantVoor">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:relevantVoor"/>
      </xs:annotation>
   </xs:element>
   <!--
  ================================================ 
     GerechtelijkeProcedureStatus                               
  ================================================ 
  -->
   <xs:element name="GerechtelijkeProcedureStatus">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:GerechtelijkeProcedureStatus"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="cons:mgContext"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="cons:BesluitStatus"/>
         </xs:sequence>
         <xs:attributeGroup ref="cons:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="BesluitStatus">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:BesluitStatus"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:FRBRWork"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="cons:onherroepelijkVanaf"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:geschorst"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="cons:gepubliceerdIn"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:wId"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="cons:meerInformatie"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="onherroepelijkVanaf" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:onherroepelijkVanaf"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="geschorst" type="xs:boolean">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:geschorst"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="meerInformatie" type="xs:anyURI">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:meerInformatie"/>
      </xs:annotation>
   </xs:element>
   <!--
  ================================================ 
     generiek                               
  ================================================ 
  -->
   <!-- generieke elementen -->
   <xs:element name="doel" type="cons:dtDoelidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:doel"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="materieelUitgewerktOp" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:materieelUitgewerktOp"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="gemaaktOp" type="cons:dtDateTimeUTC">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:gemaaktOp"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="bekendOp" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:bekendOp"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="geldigTot" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:geldigTot"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="ontvangenOp" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:ontvangenOp"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="url" type="xs:anyURI">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/voorinzage/standaard-preview-b/go/go.html?id=xsd:cons:url"/>
      </xs:annotation>
   </xs:element>
   <!-- mg -->
   <xs:group name="mgContext">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" ref="cons:bekendOp"/>
         <xs:element maxOccurs="1" minOccurs="0" ref="cons:ontvangenOp"/>
      </xs:sequence>
   </xs:group>
   <!-- ag -->
   <xs:attributeGroup name="agSchemaVersie">
      <xs:attribute name="schemaversie" type="cons:dtSchemaVersie" use="optional"/>
   </xs:attributeGroup>
   <!-- datatypes -->
   <xs:simpleType name="dtSchemaVersie">
      <xs:restriction base="xs:token"/>
   </xs:simpleType>
   <xs:simpleType name="dtDoelidentificatie">
      <xs:restriction base="cons:dtSTOPidentificatie"/>
   </xs:simpleType>
   <xs:simpleType name="dtSTOPidentificatie">
      <xs:restriction base="xs:anyURI"/>
   </xs:simpleType>
   <xs:simpleType name="dtWaardeRef">
      <xs:restriction base="xs:anyURI"/>
   </xs:simpleType>
   <xs:simpleType name="dtDateTimeUTC">
      <xs:restriction base="xs:dateTime">
         <xs:pattern value=".{19}Z"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- waardelijsten -->
   <xs:simpleType name="wlRelevantVoor">
      <xs:restriction base="xs:token">
         <xs:enumeration value="inhoud"/>
         <xs:enumeration value="juridischeWerking"/>
         <xs:enumeration value="geldigheid"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="wlSoortWijziging">
      <xs:restriction base="xs:token">
         <xs:enumeration value="instelling"/>
         <xs:enumeration value="wijziging"/>
         <xs:enumeration value="beeindiging"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
